<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>

    <services>
      <service name="HQOrderEntryImplementation.HQOrderEntryService" >
        <endpoint
       address="msmq.formatname:DIRECT=OS:.\private$\OrderEntryQueue"
       binding="msmqIntegrationBinding"
       contract="HQOrderEntryServiceInterface.IOrderEntryService"
       bindingConfiguration="BindingMSMQ"/>
      </service>
      <bindings>
        <msmqIntegrationBinding>
          <binding name="BindingMSMQ" exactlyOnce="false">
            <security mode="None"/>
          </binding>
        </msmqIntegrationBinding>
      </bindings>
    </services>
  </system.serviceModel>
</configuration>