<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HQProductServiceASMXSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4931/HQProductServiceASMX.asmx"
                binding="basicHttpBinding" bindingConfiguration="HQProductServiceASMXSoap"
                contract="HQProductServiceASMXClient.HQProductServiceASMXSoap"
                name="HQProductServiceASMXSoap" />
        </client>
    </system.serviceModel>
</configuration>